[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
pdfplumber = "*"
requests = "*"
apscheduler = "*"
fastapi = {extras = ["standard"], version = "*"}
bs4 = "*"
openpyxl = "*"
xlrd = "*"
sentence-transformers = "*"
numpy = "*"
torch = {version = "*", index = "pytorch-cpu"}
torchvision = {version = "*", index = "pytorch-cpu"}

[dev-packages]

[requires]
python_version = "3.11"
